.fullwidth_wraper {
  width: 100%;
  max-width: 100%;
  padding: 0px; }

.fullwidth_wraper.white {
  background: white; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #0F3E5A; }

.quotes {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  position: relative;
  font-style: italic;
  z-index: 999; }

.quotes:before {
  content: '';
  background: url(../images/quotesleft.png);
  width: 80px;
  height: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: -30px;
  top: -15px;
  z-index: -1;
  opacity: 0.5; }

.quotes:after {
  content: '';
  background: url(../images/quotesright.png);
  width: 80px;
  height: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: -30px;
  bottom: -25px;
  z-index: -1;
  opacity: 0.5; }

.ribbon p {
  margin: 15px 0; }

small {
  font-size: 65%; }

.message-error, .info-wrap {
  text-align: center;
  padding: 10px;
  background-color: #EDEDED;
  color: #0F3E5A;
  font-size: 16px; }
  .message-error span, .info-wrap span {
    color: #EC6645; }

.error-wrap {
  padding: 20px; }
  .error-wrap p {
    font-size: 12px;
    color: #EC6645; }
  .error-wrap i {
    font-size: 20px; }

.info-wrap {
  display: block;
  margin: 0 auto; }
  .info-wrap .btn {
    width: 150px; }

.white {
  color: white; }

.red {
  color: #EC6645; }

.blue {
  color: #0F3E5A; }

.sky {
  color: #ABD0CD; }

.gray {
  color: #DDDEDD; }

.black {
  color: #535553; }

.yellow {
  color: #F0B323; }

.green {
  color: #4cae4c; }

.lightblue {
  color: #428bca; }

.lightyellow {
  color: #f6d17b; }

.darkgray {
  color: #DDDEDD; }

.button_style, .btn-red, .btn-yellow,
.btn-yellow:hover, .btn-sky, .btn-blue, .btn-white {
  display: block;
  margin: 0 auto;
  border: none; }

.btn-red {
  background: #EC6645;
  color: white; }

.btn-yellow,
.btn-yellow:hover {
  background: #F0B323;
  color: white; }

.btn-sky {
  background: #ABD0CD;
  color: #0F3E5A; }

.btn-blue {
  background: #0F3E5A;
  color: white; }

.btn-white {
  background: white;
  color: #535553;
  border: 1px solid #DDDEDD; }

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
  color: #535553 !important; }

.btn:hover, .btn:focus {
  color: white; }

p.bold,
span.bold {
  font-weight: 600; }

.top_bar {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600; }

p.top_bar {
  margin: 0; }

section.yellow,
div.yellow {
  background: #F0B323;
  color: inherit; }

section.yellow05,
div.yellow05 {
  background: #f6d37f;
  color: inherit; }

section.blue,
div.blue {
  background: #0F3E5A;
  color: inherit; }

section.red,
div.red {
  background: #EC6645;
  color: inherit; }

section.white,
div.white {
  background: white;
  color: inherit; }

section.sky,
div.sky {
  background: #ABD0CD;
  color: inherit;
  color: inherit; }

section.sky05,
div.sky05 {
  background: #c7dfde;
  color: inherit;
  color: inherit; }

section.ligthgray,
div.ligthgray {
  background: #FAF9F9;
  color: inherit; }

section.regulargray,
div.regulargray {
  background: #EDEDED;
  color: inherit; }

section.darkgray,
div.darkgray {
  background: #DDDEDD;
  color: inherit; }

section.green,
div.green {
  background: #4cae4c;
  color: inherit; }

section.green02,
div.green02 {
  background: #dbeedb;
  color: inherit; }

.input_wrapper {
  padding: 8px; }
  .input_wrapper a {
    color: #0F3E5A;
    text-align: right;
    font-size: 12px;
    display: block;
    padding-top: 5px; }

.figure {
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  margin: 0 auto;
  border-radius: 50%; }

.figure_small {
  width: 100px;
  height: 80px;
  position: relative;
  display: block;
  margin: 0 auto;
  border-radius: 50%; }

.figure:before, .pluma:before, .puzzle:before, .ninos:before, .ciervo:before, .trineo:before, .ginger:before, .engranaje:before {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute; }

.pluma {
  background: #0F3E5A; }

.pluma:before {
  background: url(../images/pen43.png);
  background-size: 100%;
  top: 20px;
  left: 20px;
  background-repeat: no-repeat; }

.puzzle {
  background: #EC6645; }

.puzzle:before {
  background: url(../images/puzzle2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 20px;
  left: 25px; }

.ninos {
  background: #F0B323; }

.ninos:before {
  background: url(../images/friends.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 23px;
  left: 20px; }

.ciervo {
  background: white; }

.ciervo:before {
  background: url(../images/reindeer4blue.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 23px;
  left: 20px; }

.trineo {
  background: white; }

.trineo:before {
  background: url(../images/sledred.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 32px;
  left: 24px; }

.ginger {
  background: white; }

.ginger:before {
  background: url(../images/gingerbreadyellow.png);
  width: 100px;
  height: 100px;
  background-size: 80%;
  background-repeat: no-repeat;
  top: 17px;
  left: 20px; }

.engranaje {
  background: white; }

.engranaje:before {
  background: url(../images/cogs3colors.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 22px;
  left: 16px; }

.arrow {
  background: none;
  padding: 5px 0;
  text-align: center;
  border-radius: 0;
  width: 50px;
  height: 50px; }

.arrow:before {
  content: "";
  background: url(../images/down139.png);
  width: 50px;
  height: 50px;
  background-size: 80%;
  background-repeat: no-repeat;
  top: 5px;
  left: 5px;
  position: absolute; }

.info_area {
  padding: 20px 10px 30px;
  text-align: center;
  height: auto; }
  .info_area .info_icon, .info_area .present:before, .info_area .engranaje:before {
    content: "";
    width: 80px;
    height: 80px;
    top: 20px;
    left: 20px;
    position: absolute; }
  .info_area .info_icon_small, .info_area .engranajecol:before {
    content: "";
    width: 60px;
    height: 60px;
    top: 20px;
    left: 20px;
    position: absolute; }
  .info_area .present:before {
    background: url(../images/present31.png);
    background-size: 100%;
    background-repeat: no-repeat; }
  .info_area .engranaje:before {
    background: url(../images/cogs3.png);
    background-size: 100%;
    background-repeat: no-repeat; }
  .info_area .engranajecol:before {
    background: url(../images/cogs33colors.png);
    background-size: 100%;
    background-repeat: no-repeat; }
  .info_area h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400; }
  .info_area p {
    margin-top: 20px; }

.btn:focus {
  outline: none; }

.btn:active {
  webkit-box-shadow: none;
  box-shadow: none; }

.icons-licence {
  padding-bottom: 20px; }
  .icons-licence p {
    text-align: center;
    font-size: 50%; }

/***********/
/*HEADER*/
/***********/
header .main_nav {
  margin: 0px; }
  header .main_nav a {
    color: #0F3E5A;
    font-weight: 600; }
    header .main_nav a small {
      color: #DDDEDD; }
header .logo {
  display: block;
  margin: 0 auto;
  position: relative; }
  header .logo h1 {
    padding-left: 40%;
    font-size: 25px;
    text-align: left;
    font-weight: 600; }
    header .logo h1 span.red {
      font-size: 30px; }
    header .logo h1 span.white {
      text-transform: uppercase;
      font-size: 20px; }
header .logo:before {
  content: "";
  background: url(../images/santa-claus4_1.png);
  width: 100px;
  height: 105px;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 4px;
  left: 11px;
  position: absolute; }
header .login {
  background: #FAF9F9;
  border-radius: 6px;
  margin: 20px 0;
  padding: 0;
  color: #0F3E5A;
  overflow: hidden; }
  header .login .login_header h3, header .login .login_header p {
    margin: 0;
    text-align: center;
    font-weight: 600;
    color: white;
    background: #0F3E5A;
    padding-top: 6px;
    padding-bottom: 10px; }
  header .login button {
    display: block;
    margin: 0 auto;
    width: 50%; }

/***********/
/*FOOTER*/
/***********/
footer {
  background: #ABD0CD; }
  footer .social_media {
    position: relative;
    display: table;
    margin: 0 auto;
    list-style: none;
    padding: 20px 0px; }
    footer .social_media li {
      display: table-cell;
      padding: 0px 10px; }
      footer .social_media li a {
        color: white; }
        footer .social_media li a .fa {
          font-size: 25px; }
      footer .social_media li a.twitter:hover {
        color: #0F3E5A; }
      footer .social_media li a.linkedin:hover {
        color: #EC6645; }
      footer .social_media li a.github:hover {
        color: #F0B323; }

.steps {
  padding: 30px 0; }
  .steps .step_wrap {
    text-align: center;
    color: #0F3E5A;
    padding: 20px 0;
    height: auto; }
    .steps .step_wrap h2 {
      margin-bottom: 5px; }
    .steps .step_wrap p.bold {
      font-size: 18px; }

.pass-wrap {
  background: #F0B323;
  text-align: center;
  white-space: nowrap; }
  .pass-wrap .pass_header {
    padding-top: 10px;
    padding-bottom: 10px; }
    .pass-wrap .pass_header p {
      margin: 0; }

.pass-wrap:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; }

.pass-form {
  background: #FAF9F9;
  display: inline-block;
  vertical-align: middle;
  width: 250px;
  border-radius: 10px;
  overflow: hidden; }

.go_back {
  padding: 20px 0 0; }
  .go_back p {
    text-align: center;
    color: white;
    margin: 0;
    color: #EDEDED;
    font-size: 14px; }

.form_step_wrapper .input_wrapper label {
  font-size: 16px;
  text-align: left;
  float: left;
  font-weight: 300; }
.form_step_wrapper .stepOne label {
  color: white; }
.form_step_wrapper .stepTwo label {
  color: #0F3E5A;
  font-weight: 600; }
.form_step_wrapper .stepTwo textarea {
  height: 150px; }

.step-three {
  padding: 20px 0 0 0; }

.flashback {
  display: block;
  opacity: 0;
  width: 100%;
  background: #fcefd3;
  margin-top: 20px;
  text-align: center;
  padding: 9px 0 0px 0;
  border-radius: 10px;
  border: 1px solid #f6d37f;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear; }
  .flashback p {
    font-size: 16px;
    color: #535553; }

.flash {
  opacity: 1; }

.dash_header {
  position: fixed;
  top: 0;
  display: block;
  background-color: #fff;
  width: 100%;
  z-index: 999999999; }
  .dash_header .panel-default {
    border: none;
    border-bottom: 5px solid #0F3E5A;
    border-radius: 0; }
    .dash_header .panel-default .panel-heading {
      color: #0F3E5A;
      background-color: transparent;
      border: none;
      padding: 0;
      height: 50px; }
  .dash_header .settings {
    font-size: 28px;
    padding: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 7px;
    right: 7px; }
    .dash_header .settings .icon_set {
      margin: 0; }

.btn.skin, .btn.delete_account, .btn.continue, .btn.make-draw {
  display: block;
  width: 170px;
  border-radius: 5px;
  margin: 20px auto 0;
  color: #0F3E5A; }
  .btn.skin:hover, .btn.delete_account:hover, .btn.continue:hover, .btn.make-draw:hover, .btn.skin:focus, .btn.delete_account:focus, .btn.continue:focus, .btn.make-draw:focus, .btn.skin:active, .btn.delete_account:active, .btn.continue:active, .btn.make-draw:active {
    color: #0F3E5A; }

.btn.delete_account {
  border: 1px solid #EC6645; }

.btn.continue {
  border: 1px solid #F0B323; }

.btn.make-draw {
  border: 1px solid #4cae4c; }

.mobile_nav ul {
  list-style: none;
  border: none !important; }
  .mobile_nav ul li {
    height: 50px;
    line-height: 50px;
    padding-left: 14px;
    border-top: 1px solid #ddd; }
    .mobile_nav ul li a {
      color: #0F3E5A;
      padding-left: 10px; }

.datas {
  margin: 50px 0 20px; }
  .datas p {
    margin: 5px 0; }

.title {
  margin-top: 50px;
  text-align: left; }

.friends {
  border-top: 1px solid sky; }
  .friends .wrapper {
    padding: 0;
    text-align: left;
    overflow: hidden; }
    .friends .wrapper .panel-group {
      margin-bottom: 2px; }

.group-confirmed {
  margin-top: 50px;
  padding-top: 50px; }

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .ribbon p {
    margin: 15px 0; }
    .ribbon p a {
      color: white; }
    .ribbon p a:hover,
    .ribbon p a:focus,
    .ribbon p a:active {
      color: white;
      text-decoration: none; }

  .friend-wrap {
    position: relative; }
    .friend-wrap .content-wrapper {
      position: relative;
      width: 100%;
      display: block;
      overflow: hidden;
      border-bottom: 1px solid #DDDEDD; }
    .friend-wrap .content-top {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 100;
      cursor: pointer;
      right: 0;
      padding-left: 7%;
      padding-top: 10px;
      padding-bottom: 10px;
      overflow: hidden;
      -webkit-transform: translateZ(0);
      -webkit-transition: all 200ms linear 0s;
      -moz-transition: all 200ms linear 0s;
      -o-transition: all 200ms linear 0s;
      transition: all 200ms linear 0s; }
      .friend-wrap .content-top p {
        font-size: 20px;
        line-height: 40px;
        margin: 0;
        padding: 0;
        display: inline-block; }
    .friend-wrap .content-top.move {
      right: 50%; }
    .friend-wrap .content-behind {
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      bottom: 0;
      width: 50%;
      height: 100%; }
      .friend-wrap .content-behind .behind-btn, .friend-wrap .content-behind .invite-btn, .friend-wrap .content-behind .remaind-btn, .friend-wrap .content-behind .delete-btn {
        height: 100%;
        position: absolute;
        font-size: 18px;
        line-height: 57px;
        color: white;
        font-weight: bold; }
        .friend-wrap .content-behind .behind-btn .glyphicon, .friend-wrap .content-behind .invite-btn .glyphicon, .friend-wrap .content-behind .remaind-btn .glyphicon, .friend-wrap .content-behind .delete-btn .glyphicon {
          line-height: 51px; }
      .friend-wrap .content-behind .behind-btn:hover, .friend-wrap .content-behind .invite-btn:hover, .friend-wrap .content-behind .remaind-btn:hover, .friend-wrap .content-behind .delete-btn:hover,
      .friend-wrap .content-behind .behind-btn:focus,
      .friend-wrap .content-behind .invite-btn:focus,
      .friend-wrap .content-behind .remaind-btn:focus,
      .friend-wrap .content-behind .delete-btn:focus,
      .friend-wrap .content-behind .behind-btn:active,
      .friend-wrap .content-behind .invite-btn:active,
      .friend-wrap .content-behind .remaind-btn:active,
      .friend-wrap .content-behind .delete-btn:active {
        text-decoration: none;
        color: white; }
      .friend-wrap .content-behind .invite-btn {
        width: 70%;
        left: 0;
        padding-left: 17%;
        background: #F0B323; }
      .friend-wrap .content-behind .remaind-btn {
        width: 70%;
        left: 0;
        padding-left: 12%;
        background: #535553; }
      .friend-wrap .content-behind .delete-btn {
        width: 30%;
        left: 70%;
        background: #EC6645;
        padding-left: 10%;
        padding-top: 3px; }

  .icon_status {
    position: absolute;
    right: 7%;
    top: 22px;
    font-size: 18px; }

  .delete,
  .delete:focus,
  .delete:active,
  .delete:hover,
  .invite,
  .invite:focus,
  .invite:active,
  .invite:hover,
  .remaind,
  .remaind:focus,
  .remaind:active,
  .remaind:hover {
    font-weight: 600;
    background: #FAF9F9;
    color: #0F3E5A; }

  .add-friend {
    padding: 15px 0;
    background: #FAF9F9; }
    .add-friend input {
      margin: 5px 0;
      color: #0F3E5A;
      height: 50px;
      font-size: 18px; }
    .add-friend button {
      display: block;
      margin: 0 auto;
      font-weight: 400;
      margin-top: 10px;
      height: 40px;
      font-size: 16px;
      box-shadow: none; } }
/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .friend-wrap {
    position: relative;
    border-radius: 6px;
    padding: 0 10px 10px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center; }
    .friend-wrap .panel-heading {
      padding: 0; }
      .friend-wrap .panel-heading .panel-title,
      .friend-wrap .panel-heading .panel-title:active,
      .friend-wrap .panel-heading .panel-title:focus {
        font-size: 16px;
        line-height: 32px;
        padding-left: 40px;
        width: 100%;
        text-align: left;
        color: #0F3E5A; }
    .friend-wrap .name {
      padding: 0; }
      .friend-wrap .name .icon_status {
        position: absolute;
        right: 30px;
        top: 14px;
        font-size: 18px; }

  .btn.delete,
  .btn.delete:focus,
  .btn.delete:active,
  .btn.delete:hover {
    font-weight: 600;
    background: #FAF9F9;
    color: #535553; }

  .btn.invite,
  .btn.invite:focus,
  .btn.invite:active,
  .btn.invite:hover,
  .btn.remaind,
  .btn.remaind:focus,
  .btn.remaind:active,
  .btn.remaind:hover {
    font-weight: 600;
    background: #FAF9F9;
    color: #535553; }

  .add-friend-wrap {
    margin-bottom: 20px; }
    .add-friend-wrap .add-friend input.friendemail {
      width: 69%;
      float: left; }
    .add-friend-wrap .add-friend button.add {
      display: inline-block;
      padding: 7px 10px;
      width: 31%; } }
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

/*# sourceMappingURL=main.css.map */
