//Colors
$green: #458B00;
$yellow: #F0B323;
$lightyellow: #f6d17b;
$green: #4cae4c;
$blue: #0F3E5A;
$lightblue: #428bca;
$sky: #ABD0CD;
$red: #EC6645;
$ligthgray: #FAF9F9;
$regulargray: #EDEDED;
$darkgray: #DDDEDD;
$black: #535553;

//Opacity
$sky05 : #c7dfde;
$yellow05: #f6d37f;
$green02:  #dbeedb;

// Font weights
$light: 300;
$regular: 400;
$bold: 600;
$extrabold:700;

// Base Font
$base-font-family:'Open Sans', sans-serif;
$base-font-weight: $regular;
$base-font-size: 18px;
$base-line-height: 1.4;
$base-color: $blue;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;


// ========================
// ========================
// 			GENERAL
// ========================
// ========================

.fullwidth_wraper {
	width: 100%;
	max-width: 100%;
	padding:0px;
}

.fullwidth_wraper.white {
	background: white;
}

body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	color: $base-color;
}

.quotes {
	display: block;
	margin: auto;
	width: 100%;
	text-align: center;
	position: relative;
	font-style: italic;
	z-index:999;
}

.quotes:before {
	content: '';
	background: url(../images/quotesleft.png);
	width: 80px;
	height: 80px;
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: -30px;
	top: -15px;
	z-index: -1;
	opacity: 0.5;
}

.quotes:after {
	content: '';
	background: url(../images/quotesright.png);
	width: 80px;
	height: 80px;
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	right: -30px;
	bottom: -25px;
	z-index: -1;
	opacity: 0.5;
}

.ribbon {
	p {
		margin: 15px 0;
	}
}

small {
	font-size: 65%;
}

.message-error {
	text-align: center;
  	padding: 10px;
  	background-color: $regulargray;
  	color: $blue;
  	font-size: 16px;

  	span {
  		color: $red;
  	}
} 

.error-wrap {
	padding: 20px;
	p {
		font-size: 12px;
		color: $red;
	}

	i {
		font-size: 20px;
	}
}

// Colours Fonts
// **************

.white {
	color: white;
}

.red {
	color: $red;
}

.blue {
	color: $blue;
}

.sky {
	color: $sky;
}

.gray {
	color: $darkgray;
}

.black {
	color: $black;
}

.yellow {
	color: $yellow;
}

.green {
	color: $green;
}

.lightblue {
	color: $lightblue;
}

.lightyellow {
	color: $lightyellow;
}

.darkgray {
	color: $darkgray;
}


// Buttons colours
// **************

.button_style {
	display: block;
	margin: 0 auto;
	border: none;
}

.btn-red {
	@extend .button_style;
	background: $red;
	color: white;
	
}

.btn-yellow,
.btn-yellow:hover {
	@extend .button_style;
	background: $yellow;
	color: white;
}

.btn-sky {
	@extend .button_style;
	background: $sky;
	color: $blue;
}

.btn-blue {
	@extend .button_style;
	background: $blue;
	color: white;
}

.btn-white {
	@extend .button_style;
	background: white;
	color: $black;
	border: 1px solid $darkgray;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active {
	color: $black!important;
}

.btn:hover, .btn:focus {
	color: white;
}



// Font styles
// **************

p.bold,
span.bold {
	font-weight: $bold;
}

.top_bar{
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	font-weight: $bold; 
}

	p.top_bar {
		margin:0;
	}


// Backgrounds
// ***********

section.yellow,
div.yellow {
	background: $yellow;
	color: inherit;
}

section.yellow05,
div.yellow05 {
	background: $yellow05;
	color: inherit;
}

section.blue,
div.blue {
	background: $blue;
	color: inherit;
}

section.red,
div.red {
	background: $red;
	color: inherit;
}

section.white,
div.white {
	background: white;
	color: inherit;
}

section.sky,
div.sky {
	background: $sky;
	color: inherit;
	color: inherit;
}

section.sky05,
div.sky05 {
	background: $sky05;
	color: inherit;
	color: inherit;
}

section.ligthgray,
div.ligthgray {
	background: $ligthgray;
	color: inherit;
}

section.regulargray,
div.regulargray {
	background: $regulargray;
	color: inherit;
}

section.darkgray,
div.darkgray {
	background: $darkgray;
	color: inherit;
}

section.green,
div.green {
	background: $green;
	color: inherit;
}

section.green02,
div.green02 {
	background: $green02;
	color: inherit;
}

.input_wrapper {
	padding: 8px;

	a {
		color: $blue;
		text-align: right;
		font-size: 12px;
		display: block;
		padding-top: 5px;
	}
}

// ICONS
// ********

.figure{
	width: 120px;
	height: 120px;
	position: relative;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}

.figure_small {
	width: 100px;
	height: 80px;
	position: relative;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}

.figure:before {
	content: "";
	width: 80px;
	height: 80px;
	position: absolute;	
}

.pluma{
	background: $blue;
}

.pluma:before {
	@extend .figure:before; 
	background: url(../images/pen43.png);
	background-size: 100%;
	top: 20px;
	left: 20px;	
	background-repeat: no-repeat;
}

.puzzle{
	background: $red;
}

.puzzle:before {
	@extend .figure:before; 
	background: url(../images/puzzle2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	top: 20px;
	left: 25px;
}

.ninos{
	background: $yellow;
}

.ninos:before {
	@extend .figure:before; 
	background: url(../images/friends.png);
	background-size: 100%;
	background-repeat: no-repeat;
	top: 23px;
	left: 20px;
}

.ciervo{
	background: white;
}

.ciervo:before{
	@extend .figure:before; 
	background: url(../images/reindeer4blue.png);
	background-size: 100%;
	background-repeat: no-repeat;
	top: 23px;
	left: 20px;
}

.trineo{
	background: white;
}

.trineo:before{
	@extend .figure:before; 
	background: url(../images/sledred.png);
	background-size: 100%;
	background-repeat: no-repeat;
	top: 32px;
	left: 24px;
}

.ginger{
	background: white;
}

.ginger:before{
	@extend .figure:before; 
	background: url(../images/gingerbreadyellow.png);
	width: 100px;
	height: 100px;
	background-size: 80%;
	background-repeat: no-repeat;
	top: 17px;
	left: 20px;
}

.engranaje{
	background: white;
}

.engranaje:before{
	@extend .figure:before; 
	background: url(../images/cogs3colors.png);
	background-size: 100%;
	background-repeat: no-repeat;
	top: 22px;
	left: 16px;
}

.arrow {
	background: none;
	padding: 5px 0;
	text-align: center;
	border-radius: 0;
	width: 50px;
	height: 50px;
}

.arrow:before {
	content: "";
	background: url(../images/down139.png);
	width: 50px;
	height: 50px;
	background-size: 80%;
	background-repeat: no-repeat;
	top: 5px;
	left: 5px;
	position: absolute;
}

// Info AREAS
// *************

.info_area {
	padding: 20px 10px 30px;
	text-align: center;
	height: auto;

	.info_icon {
		content: "";
		width: 80px;
		height: 80px;
		top: 20px;
		left: 20px;
		position: absolute;	
	}

	.info_icon_small {
		content: "";
		width: 60px;
		height: 60px;
		top: 20px;
		left: 20px;
		position: absolute;	
	}

	.present:before {
		@extend .info_icon; 
		background: url(../images/present31.png);
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.engranaje:before {
		@extend .info_icon; 
		background: url(../images/cogs3.png);
		background-size: 100%;
		background-repeat: no-repeat;
	}

	.engranajecol:before {
		@extend .info_icon_small; 
		background: url(../images/cogs33colors.png);
		background-size: 100%;
		background-repeat: no-repeat;
	}

	h2 {
		margin-top: 10px;
		margin-bottom: 10px;
		font-weight: $regular;
	}

	p{
		margin-top: 20px;
	}
}



.btn:focus {
	outline: none;
}
.btn:active {
	webkit-box-shadow: none;
	box-shadow: none;
}

// .ribbon {
// 	height: 20px;
// }



// ========================
// ========================
// 	   COMMON AREAS
// ========================
// ========================

/***********/
/*HEADER*/
/***********/
header {

	.main_nav {
		margin:0px;

		a {
			color: $blue;
			font-weight: $bold;

			small {
				color: $darkgray;
			}
		}
	}

	.logo {

		display: block;
  		margin: 0 auto;
  		position: relative;
 
		h1 {
			padding-left: 40%;
			font-size: 25px;
			text-align: left;
			font-weight: $bold;

			span.red {
				font-size: 30px;
			}

			span.white {
				text-transform: uppercase;
				font-size: 20px;
			}
		}

	}

	.logo:before {
		content: "";
		background: url(../images/santa-claus4_1.png);
		width: 100px;
		height: 105px;
		background-size: 100%;
		background-repeat: no-repeat;
		top: 4px;
		left: 11px;
		position: absolute;
	}

	.login {
		background: $ligthgray;
		border-radius: 6px;
		margin: 20px 0;
		padding: 0;
		color: $blue;
		overflow: hidden;

		.login_header {

			h3, p {
				margin: 0;
				text-align: center;
				font-weight: $bold;
				color: white;
				background: #0F3E5A;
				padding-top: 6px;
				padding-bottom: 10px;
			}

			
		}

		button {
			display: block;
			margin: 0 auto;
			width: 50%;
		}
	
	}

}

/***********/
/*FOOTER*/
/***********/
footer {

	background: $sky;

	.social_media{
		position:relative;
		display:table;
		margin:0 auto;
		list-style: none;
		padding: 20px 0px;

		li{
			display:table-cell;
			padding: 0px 10px;
		
			a {
				color: white;

				.fa{
					font-size: 25px;
				}
			}

			a.twitter:hover {
				color: $blue;
				}
			a.linkedin:hover {
				color: $red;
				}
			a.github:hover {
				color: $yellow;
				}
		}

	}

}

// ========================
// ========================
//        HOME PAGE
// ========================
// ========================

.steps {
	padding: 30px 0;
	.step_wrap {
		text-align: center;
		color: $blue;
		padding: 20px 0;
		height: auto;

		h2 {
			margin-bottom: 5px;
		}

		p.bold {
			font-size: 18px;
		}
	}
}


// ========================
// ========================
//  REMEMBER PASSWORD PAGE
// ========================
// ========================

.pass-wrap {
	background: $yellow;
	text-align: center;
	white-space: nowrap;

	.pass_header {
		padding-top: 10px;
  		padding-bottom: 10px;
		p{
			margin: 0;
		}
	}
}

.pass-wrap:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.pass-form {
	background: $ligthgray;
	display: inline-block;
	vertical-align: middle;
	width: 80%;
	border-radius: 10px;
	overflow: hidden;
}



// ========================
// ========================
//        STEP PAGES
// ========================
// ========================


.go_back {

	padding: 20px 0 0;

	p {
		text-align: center;
		color: white;
		margin: 0;
		color: $regulargray;
		font-size: 14px;
	}

}

.form_step_wrapper {

	.input_wrapper {
		label {
			font-size: 16px;
			text-align: left;
			float: left;
			font-weight: $light;
		}
	}

	.stepOne {
		label {
			color: white;
		}
	}

	.stepTwo {
		label {
			color: $blue;
			font-weight: $bold;
		}

		textarea {
			height: 150px;
		}

	}
}

// ========================
// ========================
//        STEP THREE
// ========================
// ========================

.step-three {
	padding: 20px 0 0 0;
}

.flashback {
	display: block;
	opacity: 0;
	width: 100%;
	background: #fcefd3;
	margin-top: 20px;
	text-align: center;
	padding: 9px 0 0px 0;
	border-radius: 10px;
	border: 1px solid $yellow05;

	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;

	p{
		font-size: 16px;
		color: $black;
	}
}

.flash {
	opacity:1;
}

// ========================
// ========================
//        DASHBOARD
// ========================
// ========================


// HEADER
// =======

.dash_header {
	position: fixed;
	top: 0;
	display: block;
	background-color: #fff;
	width: 100%;
	z-index: 999999999;

	.panel-default {
		border: none;
		border-bottom: 5px solid $blue;
		border-radius: 0;

		.panel-heading {
			// overwritting bootstrap
			color: $blue;
			background-color: transparent;
			border: none;
			padding: 0;
			height: 50px;
		}

	}

	.settings {
		font-size: 28px;
		padding: 0;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 7px;
		right: 7px;
		.icon_set {
			margin: 0;
			// opacity: 0.6;
		}
	}
}

.btn.delete_account {
	display: block;
	width: 170px;
	border: 1px solid #EC6645;
	border-radius: 5px;
	margin: 20px auto 0;
}


// Nav
// =======

.mobile_nav {

	ul {
		list-style: none;
		border: none!important;

		li {
			height: 50px;
			line-height: 50px;
			padding-left: 14px;
			border-top: 1px solid #ddd;
			a{
				color: $blue;
				padding-left: 10px;
			}
		}
	}

}

.datas {
	margin: 50px 0 20px;
	p {
		margin: 5px 0;
	}
}

.title {
	margin-top: 50px;
	text-align: left;
}

// All friends wrap
// ================

.friends {
	border-top: 1px solid sky;
	.wrapper {
		padding: 0;
		text-align: left;
		overflow: hidden;
		.panel-group {
			margin-bottom: 2px;
		}
	}
}






// Partials
@import "partials/responsive";
