/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) 
{
	// Each Friend
	// ===========

	.friend-wrap {
		position: relative;

		.panel-heading {
			padding: 0;

			.panel-title,
			.panel-title:active,
			.panel-title:focus {
				font-size: 16px;
				line-height: 32px;
				padding-left: 40px;
				width: 100%;
				text-align: left;
				color: $blue;
			}
		}

		.name {

			.icon_status {
				position: absolute;
				right: 30px;
				top: 14px;
				font-size: 18px;
			}
		}

		.email {
			text-align: center;
			.ready {
				padding-bottom: 0;
				margin-bottom: 5px;
			}
		}
	}

	.delete,
	.delete:focus,
	.delete:active,
	.delete:hover,
	.invite,
	.invite:focus,
	.invite:active,
	.invite:hover, 
	.remaind,
	.remaind:focus,
	.remaind:active,
	.remaind:hover {
		font-weight: $bold;
		background: $ligthgray;
		color: $blue;
	}

}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{

		// Each Friend 

		.friend-wrap {
			position: relative;
			border-radius: 6px;
			padding: 0 10px 10px;
			margin-bottom: 10px;
			overflow: hidden;
			text-align: center;

			.panel-heading {
				padding: 0;
				.panel-title,
				.panel-title:active,
				.panel-title:focus {
					font-size: 16px;
					line-height: 32px;
					padding-left: 40px;
					width: 100%;
					text-align: left;
					color: $blue;
				}
			}
			.name {
				padding: 0;
				.icon_status {
					position: absolute;
					right: 30px;
					top: 14px;
					font-size: 18px;
				}
			}
	 	}


		// Buttons friend list

		.btn.delete,
		.btn.delete:focus,
		.btn.delete:active,
		.btn.delete:hover {
			font-weight: $bold;
			background: $ligthgray;
			color: $black;
		}

		.btn.invite,
		.btn.invite:focus,
		.btn.invite:active,
		.btn.invite:hover, 
		.btn.remaind,
		.btn.remaind:focus,
		.btn.remaind:active,
		.btn.remaind:hover {
			font-weight: $bold;
			background: $ligthgray;
			color: $black;
		}

		// add Friend
		.add-friend-wrap{
			margin-bottom: 20px;
			.add-friend {
				input.friendemail {
					width: 69%;
					float: left;
				}

				button.add {
					display: inline-block;
					padding: 7px 10px;
					width: 31%;
				}
			}
		}

		





	
		
	


}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{  

}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
{

}