.fullwidth_wraper {
  width: 100%;
  max-width: 100%;
  padding: 0px; }

.fullwidth_wraper.white {
  background: white; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #0F3E5A; }

.quotes {
  display: block;
  margin: auto;
  width: 100%;
  text-align: center;
  position: relative;
  font-style: italic;
  z-index: 999; }

.quotes:before {
  content: '';
  background: url(../images/quotesleft.png);
  width: 80px;
  height: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: -30px;
  top: -15px;
  z-index: -1;
  opacity: 0.5; }

.quotes:after {
  content: '';
  background: url(../images/quotesright.png);
  width: 80px;
  height: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: -30px;
  bottom: -15px;
  z-index: -1;
  opacity: 0.5; }

.white {
  color: white; }

.red {
  color: #EC6645; }

.blue {
  color: #0F3E5A; }

.sky {
  color: #ABD0CD; }

.gray {
  color: #DDDEDD; }

.black {
  color: #535553; }

.button_style, .btn-red, .btn-yellow, .btn-sky, .btn-blue {
  display: block;
  margin: 0 auto;
  border: none; }

.btn-red {
  background: #EC6645;
  color: white; }

.btn-yellow {
  background: #F0B323;
  color: white; }

.btn-sky {
  background: #ABD0CD;
  color: #0F3E5A; }

.btn-blue {
  background: #0F3E5A;
  color: white; }

.btn:hover, .btn:focus {
  color: white; }

p.bold,
span.bold {
  font-weight: 600; }

.top_bar {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600; }

p.top_bar {
  margin: 0; }

section.yellow,
div.yellow {
  background: #F0B323;
  color: inherit; }

section.blue,
div.blue {
  background: #0F3E5A;
  color: inherit; }

section.red,
div.red {
  background: #EC6645;
  color: inherit; }

section.white,
div.white {
  background: white;
  color: inherit; }

section.sky,
div.sky {
  background: #ABD0CD;
  color: inherit;
  color: inherit; }

section.ligthgray,
div.ligthgray {
  background: #FAF9F9;
  color: inherit; }

section.regulargray,
div.regulargray {
  background: #EDEDED;
  color: inherit; }

.input_wrapper {
  padding: 8px; }

.figure {
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  margin: 0 auto;
  border-radius: 50%; }

.figure:before, .pluma:before, .puzzle:before, .ninos:before, .ciervo:before, .trineo:before, .ginger:before, .engranaje:before {
  content: "";
  width: 80px;
  height: 80px;
  position: absolute; }

.pluma {
  background: #0F3E5A; }

.pluma:before {
  background: url(../images/pen43.png);
  background-size: 100%;
  top: 20px;
  left: 20px;
  background-repeat: no-repeat; }

.puzzle {
  background: #EC6645; }

.puzzle:before {
  background: url(../images/puzzle2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 20px;
  left: 25px; }

.ninos {
  background: #F0B323; }

.ninos:before {
  background: url(../images/friends.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 23px;
  left: 20px; }

.ciervo {
  background: white; }

.ciervo:before {
  background: url(../images/reindeer4blue.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 23px;
  left: 20px; }

.trineo {
  background: white; }

.trineo:before {
  background: url(../images/sledred.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 32px;
  left: 24px; }

.ginger {
  background: white; }

.ginger:before {
  background: url(../images/gingerbreadyellow.png);
  width: 100px;
  height: 100px;
  background-size: 80%;
  background-repeat: no-repeat;
  top: 17px;
  left: 20px; }

.engranaje {
  background: white; }

.engranaje:before {
  background: url(../images/cogs3colors.png);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 22px;
  left: 16px; }

.arrow {
  background: none;
  padding: 5px 0;
  text-align: center;
  border-radius: 0;
  width: 50px;
  height: 50px; }

.arrow:before {
  content: "";
  background: url(../images/down139.png);
  width: 50px;
  height: 50px;
  background-size: 80%;
  background-repeat: no-repeat;
  top: 5px;
  left: 5px;
  position: absolute; }

.info_area {
  padding: 20px 10px 30px;
  text-align: center;
  height: auto; }
  .info_area .info_icon, .info_area .present:before, .info_area .engranaje:before, .info_area .engranajecol:before {
    content: "";
    width: 80px;
    height: 80px;
    top: 20px;
    left: 20px;
    position: absolute; }
  .info_area .present:before {
    background: url(../images/present31.png);
    background-size: 100%;
    background-repeat: no-repeat; }
  .info_area .engranaje:before {
    background: url(../images/cogs3.png);
    background-size: 100%;
    background-repeat: no-repeat; }
  .info_area .engranajecol:before {
    background: url(../images/cogs33colors.png);
    background-size: 100%;
    background-repeat: no-repeat; }
  .info_area h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400; }
  .info_area p {
    margin-top: 20px; }

/***********/
/*HEADER*/
/***********/
header .main_nav {
  margin: 0px; }
  header .main_nav a {
    color: #0F3E5A;
    font-weight: 600; }
    header .main_nav a small {
      color: #DDDEDD; }
header .logo {
  display: block;
  margin: 0 auto;
  position: relative; }
  header .logo h1 {
    padding-left: 40%;
    font-size: 25px;
    text-align: left;
    font-weight: 600; }
    header .logo h1 span.red {
      font-size: 30px; }
    header .logo h1 span.white {
      text-transform: uppercase;
      font-size: 20px; }
header .logo:before {
  content: "";
  background: url(../images/santa-claus4_1.png);
  width: 100px;
  height: 105px;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 4px;
  left: 11px;
  position: absolute; }
header .login {
  background: #FAF9F9;
  border-radius: 6px;
  margin: 20px 0;
  padding: 0;
  color: #0F3E5A;
  overflow: hidden; }
  header .login .login_header h3 {
    margin: 0;
    text-align: center;
    font-weight: 600;
    color: white;
    background: #0F3E5A;
    padding-top: 6px;
    padding-bottom: 10px; }
  header .login button {
    display: block;
    margin: 0 auto;
    width: 50%; }

/***********/
/*FOOTER*/
/***********/
footer {
  background: #ABD0CD; }
  footer .social_media {
    position: relative;
    display: table;
    margin: 0 auto;
    list-style: none;
    padding: 20px 0px; }
    footer .social_media li {
      display: table-cell;
      padding: 0px 10px; }
      footer .social_media li a {
        color: white; }
        footer .social_media li a .fa {
          font-size: 25px; }
      footer .social_media li a.twitter:hover {
        color: #0F3E5A; }
      footer .social_media li a.linkedin:hover {
        color: #EC6645; }
      footer .social_media li a.github:hover {
        color: #F0B323; }

.steps {
  padding: 30px 0; }
  .steps .step_wrap {
    text-align: center;
    color: #0F3E5A;
    padding: 20px 0;
    height: auto; }
    .steps .step_wrap h2 {
      margin-bottom: 5px; }
    .steps .step_wrap p.bold {
      font-size: 18px; }

.go_back {
  padding: 20px 0 0; }
  .go_back p {
    text-align: center;
    color: white;
    margin: 0;
    color: #EDEDED;
    font-size: 14px; }

.form_step_wrapper .input_wrapper label {
  font-size: 16px;
  text-align: left;
  float: left;
  font-weight: 300; }
.form_step_wrapper .stepOne label {
  color: white; }
.form_step_wrapper .stepTwo label {
  color: white;
  font-weight: 400; }
.form_step_wrapper .stepThree .friend_wrap {
  padding: 10px 15px 15px;
  border-bottom: 1px solid #f6d17b; }
  .form_step_wrapper .stepThree .friend_wrap label {
    font-weight: 600;
    color: #0F3E5A; }
.form_step_wrapper .friendList {
  margin: 20px 0; }

.fixed {
  position: fixed;
  top: 0;
  display: block;
  background-color: #fff;
  width: 100%;
  z-index: 999999999; }

.datas {
  margin: 50px 0; }
  .datas p {
    margin: 5px 0; }

.title {
  margin-top: 50px; }

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */

/*# sourceMappingURL=main.css.map */
